@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rajdhani:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tab-active {
    @apply bg-slate-900/60 border-t border-x border-slate-700 text-white;
  }
  .tab-inactive {
    @apply bg-transparent border-transparent text-slate-400;
  }
}